name: Setup Node + PNPM + Vercel

on:
    workflow_call:
        inputs:
            node-version:
                required: true
                type: string
            pnpm-version:
                required: true
                type: number

jobs:
    setup:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - uses: actions/setup-node@v6
              with:
                  node-version: ${{ inputs['node-version'] }}
                  cache: "pnpm"
                  cache-dependency-path: "./pnpm-lock.yaml"

            - name: Install pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: ${{ inputs['pnpm-version'] }}
                  run_install: false

            - name: Install Vercel CLI
              run: pnpm install vercel
